/* Basic styling for the entire application */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px; /* Base font size */
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem; /* 20px with base font-size: 16px */
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem; /* 20px */
  width: 100%;
  max-width: 37.5rem; /* 600px */
  box-sizing: border-box;
  text-align: center;
}

textarea {
  width: 100%;
  height: 9.375rem; /* 150px */
  margin-bottom: 1.25rem; /* 20px */
}

input[type="number"],
button,
label {
  margin-top: 1.25rem; /* 20px */
}

input[type="number"] {
  width: 6.25rem; /* 100px */
}

button {
  cursor: pointer;
}

.display-word {
  font-size: 4vw; /* Responsive font-size for mobile */
  margin: 1.25rem; /* 20px */
  word-wrap: break-word; /* Allow words to wrap on smaller screens */
}

.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
}

@media (min-width: 600px) {
  .display-word {
    font-size: 3rem; /* Fixed larger font-size for bigger screens */
  }
}

a {
  text-decoration: underline; /* Underline the link */
  color: inherit; /* Inherit the text color */
}

a:visited {
  color: inherit; /* Keep the same color for visited links */
}

a:hover {
  text-decoration: underline; /* Maintain underline on hover */
}